@CHARSET "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../Images/ww2BGtemp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: dimgrey;
}

ul.navibar {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #66768e;
}

li.navElement {
	float: left;
	width: 25%;
}

a.navBox {
	display: block;
	color: white;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}
a.navBox:HOVER {
	background-color: #424c5b;
}
:ACTIVE {
	background-color: #546b8e;
}
#mapWindow {
	display: block;
	margin: auto;
	width: 80%;
	padding-top: 4%;
}


