@CHARSET "ISO-8859-1";

@font-face{
    font-family: "HeadlinerNO45";
    src: url('Font/headliner/HeadlinerNo.45 DEMO.ttf');
}

body, html{
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("Images/BG_stuff/old-1130734.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: dimgrey;
	z-index: -2;
}

ul.navibar {
	font-family: "HeadlinerNO45"; 
	font-size: 30px;
	letter-spacing: 2px;
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 10%;
	list-style-type: none;
	margin: 0;
	color: #11074d;
	text-shadow: -1px 0 #c0c0c0, 0 1px #c0c0c0, 1px 0 #c0c0c0, 0 -1px #c0c0c0;
}

li.navElement {
	float: left;
	width: 25%;

}

a.navBoxes {
	margin-left: -100px;
	display: block;
	text-align: center;
	text-decoration: none;
}

a.navBoxes:HOVER {
	background-color: #4d1d07;
}

a:ACTIVE {
	background-color: #546b8e;
}

#mapBorderTop {
	position: absolute;
	left: 7%;
	right: 7%;
	top: 8%;
	height: 4%;
	width: 86%;
	z-index: 1;
}
#mapBorderBottom {
	position: absolute;
	left: 7%;
	right: 7%;
	top: 83%;
	height: 4%;
	width: 86%;
	z-index: 1;
}

#mapBorderRight {
	position: absolute;
	left: 90%;
	right: 7%;
	top: 8%;
	height: 79%;
	width: 4%;
	z-index: 1;
}
#mapBorderLeft {
	position: absolute;
	left: 7%;
	right: 86%;
	top: 8%;
	height: 79%;
	width: 3%;
	z-index: 1;
}

#map {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 11%;
	bottom: 20%;
	height: 73%;
	width: 80%;
	z-index: 0;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend
{
	line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
.legend op{
	background-image:url("Images/ArrowIcon.png");
	width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}



.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #e0e0e0;
    color: #234c5e;
    background-image:url("Images/VintagePaper.jpg");
}

#slide {
	position: absolute;
	bottom: 4%;
	width: 80%;
	left: 10%;
}

.slider{
	width: 100% !important;
	
}
.slider.slider-horizontal .slider-track {
  height: 10px!important;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
  background-image: url("Images/rope.png") !important;
  background-repeat: repeat-x!important;
  background-size: 80px 10px!important;
}


.slider-handle.custom {
background: transparent none !important;
background-image: url("Images/HandlerRust.png") !important;
background-size: 10px 30px!important;
background-repeat: no-repeat !important;
width: 10px !important;
height: 30px !important;

}
.slider-handle.custom::before {
line-height: 0px!important;
font-size: 0px!important;
content: ''!important; 
color: #726204;
}
.slider-tick.custom::before {
  line-height: 10px !important;
  font-size: 20px !important;
  content: ''!important;
  color: #726204;
}
.slider-tick {
  position: absolute;
  width: 10px !important;
  height:20px !important;
  
}

.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom:20px !important;
  position:absolute!important;
  top:80%!important;
	
	
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 0px!important;
  display: inline-block;
  text-align: center;
  font-size:20px;
  font-family: "HeadlinerNO45";
  background-image: url("Images/board.png")!important;
  background-size: 80px 30px!important;
  background-repeat: no-repeat;
  background-position: center;
}


#shipsTable{
	position: absolute;
	left: 10%;
	right: 10%;
	top: 11%;
	bottom: 20%;
	overflow:auto;
	height: 83%;
	width: 80%;
	z-index: 0;
	background: #e0e0e0;
    color: #234c5e;
    background-image:url("Images/VintagePaper.jpg");
}

#about
{
	position: absolute;
	left: 10%;
	right: 10%;
	top: 11%;
	bottom: 20%;
	height: 73%;
	width: 80%;
	background-image:url("Images/VintagePaper.jpg");
	color: #234c5e;
	overflow:auto;
}
#aboutText {
	position: relative;
	padding-top:3%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5%;
}