@CHARSET "ISO-8859-1";

body, html{
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("Images/VintagePaper_SlightGrey.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: dimgrey;
	z-index: -2;
}

ul.navibar {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: visible;
	background-color: #66768e;
}

li.navElement {
	float: left;
	width: 25%;
}

a.navBox {
	display: block;
	color: white;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

a.navBox:HOVER {
	background-color: #424c5b;
}

a:ACTIVE {
	background-color: #546b8e;
}

#map {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 7%;
	bottom: 20%;
	height: 73%;
	width: 80%;
}

#slide {
	position: absolute;
	bottom: 10%;
	width: 80%;
	left: 10%;
}

.slider{
	width: 100% !important;

}
.slider-handle.custom {
background: transparent none !important;
background-image: url("Images/HandlerRust.png") !important;
background-size: 15px 40px!important;
background-repeat: no-repeat !important;
width: 15px !important;
height: 40px !important;

}
.slider-handle.custom::before {
line-height: 0px!important;
font-size: 0px!important;
content: ''!important; 
color: #726204;
}
.slider-tick.custom::before {
  line-height: 10px !important;
  font-size: 20px !important;
  content: ''!important;
  color: #726204;
}
.slider-tick {
  position: absolute;
  width: 10px !important;
  height:20px !important;
  
}
/*
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
  position:absolute!important;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}
*/
